---
layout: default
---

  <div id="homeid" class="col-sm-8" >
      <!--   <h3 align="center"><b>Welcome to Miao Wang's homepage!</b></h3>  -->
        <br />
	{{ content }}
  </div>




  <div id="newsid" class="col-sm-4" >

  <div class="well">
	<!-- <h4><b>Contact Info</b></h4> -->
	<div><h4 style="font-family: Helvetica Neue,Source Sans Pro,Arial"><b>Contact Info</b></h4></div>
<div style="margin:0px; font-family: Helvetica Neue; color:#999999;">Email: &nbsp;</div>
	<p><a href="mailto:miaowang.me@gmail.com">miaow@buaa.edu.cn</a></p>
	

	<!-- <p style="margin:0px"><font color="#999999">Office: &nbsp;</font> -->
		<div style="margin:0px; font-family: Helvetica Neue; color:#999999;">Office: &nbsp;</div>
	Room G-1013, New Main Building, Beihang University, Beijing
  </div>
</div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
