---
layout: default
---

  <div id="homeid" class="col-sm-8" >
      <!--   <h3 align="center"><b>Welcome to Miao Wang's homepage!</b></h3>  -->
        <br />
	{{ content }}
  </div>




  <div id="newsid" class="col-sm-4" >

  <div class="well">
	<!-- <h4><b>Contact Info</b></h4> -->
	<div><h4 style="font-family: Helvetica Neue,Source Sans Pro,Arial"><b>Contact Info</b></h4></div>
<p style="margin:0px"><font color="#999999"><b>Email: &nbsp;</b></font>
	<a href="mailto:miaowang.me@gmail.com"><em>miaowang.me@gmail.com</em></a></p>
	<p style="margin:0px"><font color="#999999"><b>Office: &nbsp;</b></font>
	<em>Room 3-523, FIT Building, Tsinghua University, Beijing, 100084</em></p>
  </div>
</div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
